Source: libchoicebox
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, libtool, pkg-config, libecore-dev, libevas-dev, libedje-dev, libkeys-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, libtool, pkg-config
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, libkeys-dev
Priority: optional
Standards-Version: 3.8.0

Package: libchoicebox1
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libechoicebox0, echoicebox-data
Replaces: echoicebox-data
Description: choicebox widget for EFL -- runtime library
 choicebox is a EFL virtual list widget optimized for
 non-touch/non-mousescreens.
 .
 This package contains runtime library.

Package: libchoicebox1-dbg
Priority: extra
Architecture: any
Depends: libchoicebox1 (= ${binary:Version})
Description: choicebox widget for EFL -- debug symbols
 choicebox is a EFL virtual list widget optimized for
 non-touch/non-mousescreens.
 .
 This package contains debug symbols for library.

Package: libchoicebox-dev
Priority: optional
Architecture: any
Depends: libchoicebox1 (= ${binary:Version}), ${shlibs:Depends}
Description: choicebox widget for EFL -- development files
 choicebox is a EFL virtual list widget optimized for
 non-touch/non-mousescreens.
 .
 This package contains header files and symlinks necessary to link with library.

Package: libchoicebox1-settings-azbooka
Priority: optional
Architecture: any
Description: choicebox widget for EFL -- data files for Azbooka
 choicebox is a EFL virtual list widget optimized for
 non-touch/non-mousescreens.
 .
 This package data files with Azbooka skin.

Package: libchoicebox1-settings-v3
Priority: optional
Architecture: all
Description: choicebox widget for EFL -- data files for Hanlin V3
 choicebox is a EFL virtual list widget optimized for
 non-touch/non-mousescreens.
 .
 This package contains keybindings file for Hanlin V3.
